@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Teko:wght@500&display=swap');*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

/* navbar */
li, a{
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #edf0f1;
    text-decoration: none;
}

.nav__header{
    position: fixed;
    z-index: 2;
    width: 100vw;
}

.nav__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #edf0f1;
}

.nav__links li a:hover{
    color: #6bd41a;
}

/* hero section */
.hero{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.hero>span{
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #edf0f1;
}

/* article bebidas */
.bebidas{
    display: relative;
    height: 100vh;
    margin-bottom: 100px;
    align-items: center;
}

p{
    text-align: center;
}

.bebidas>p>span{
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 4rem;
}

.bebidas>p>.title1{
    color: #edf0f1;
}

.bebidas>p>.title2{
    color: #6bd41a;
}

.carousel-item img {
    height: 625px;
    width: auto;
    margin: auto;
}

.carousel-caption h3, .carousel-caption p{
    background: rgba(0, 0, 0, 0)
}

.carousel-caption{
    background: rgba(36, 37, 42, 0.55);
    width: fit-content;
    margin: auto;
}

.titleDrink{
    font-family: 'Teko', sans-serif;
    color: #edf0f1;
}

.flavor{
    font-family: 'Roboto', sans-serif;
    color: #edf0f1;
}

/* article sobre nosotros */
.aboutus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

span.title, p.paboutus, span.nuestrosatletas{
    color: #edf0f1;
}

span.title, span.nuestrosatletas{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    display: inherit;
}

p.paboutus{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 650px;
    background-color:  #24252A;
    border: 10px solid #24252A;
}

/* article videos */

.videos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.videos .column{
    text-align: center;
}

.videos h2{
    font-family: 'Teko', sans-serif;
    color: #edf0f1;
    font-size: 4rem;
}

.videos p{
    font-family: 'Teko', sans-serif;
    color: #b6b6b6;
    font-size: 2rem;
}

.videos button{
    color: #edf0f1;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    border-color: #6bd41a;
}

.videos button.suscribe{
    margin-top: 15px;
}

.videos button a{
    text-decoration: none;
    color: #edf0f1;
}

/* media */

.media span{
    font-family: 'Teko', sans-serif;
    color: #b6b6b6;
    font-size: 3rem;
}



/* contacto */

.contacto{
    text-align: center;
    display: grid;
    grid-template: 
    'contactTitle contactTitle contactTitle contactTitle'
    'container container column column';
}

.contacto .column{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-area: column;
}

.contacto span, .contacto p{
    color: #edf0f1;
    text-align: center;
}

.contactTitle{
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    grid-area: contactTitle;
}

.contacto p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.formTitle{
    color:#edf0f1;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}

.contacto .container{
    grid-area: container;
    padding-left: 100px;
}

form{
    color: #edf0f1;
    font-family: 'Roboto', sans-serif;
}

span .details{
    font-size: 2rem;
}

.container form .user-details{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: cal(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input, textarea{
    height: 45px;
    width: 100%;
    color: #edf0f1;
    outline: none;
    border-width: 0 0 20px 0;
    border-style: solid;
    border-color:  #edf0f1;;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s esase;
}

.user-details .input-box input:focus, .user-details .input-box input:valid, textarea:focus{
    border-color: #6bd41a;
}

::placeholder{
    color: #b6b6b6;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    width: fit-content;
    outline: none;
    color: #edf0f1;
    font-size: 1.2rem;
    font-weight: 500px;
    padding: 5px;
    border-color: #6bd41a;
}

.dirMap p{
    width: fit-content;
}

.dirMap a{
    text-decoration: none;
}

.dirMap a{
    transition: all 0.6s ease 0s;
}

.dirMap a:hover{
    color:#b6b6b6
}

.phone p{
    width: fit-content;
}


/* footer */

footer{
    display: flex;
    justify-content: space-between;
}

footer>img{
    padding-left: 50px;
}

.follow{
    font-family: 'Teko', sans-serif;
    color: #edf0f1;
    font-size: 2rem;
}

.redeslinks{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-left: 0;
}

.redeslinks li{
    padding: 3px 8px 7px;
}

footer div{
    padding-right: 50px;
}

footer a{
    margin-bottom: 15px;
}

footer div ul li a{
    margin: 0;
}

.redeslinks>li>a{
    text-decoration: none;
}

.li-inline-item{
    display: inline-block;
}

svg{
    fill: white;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    transition: all 0.3s ease 0s;
}

svg:hover{
    fill: #b6b6b6;
}